*{
	box-sizing: border-box;
}

* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

ul {
list-style: none;

}

img {
  max-width: 100%;
  font-size: 0;
  display: block;
}
 div {
   vertical-align: top;
 }

 a {
   text-decoration: none;
 }
/*******************
Logo Header
*******************/

.top-header {
  font-size: 0px;
  display: inline-block;
  max-width: 100%;
}

.logo-image {
  display: inline-block;
  max-width: 22%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.label-image {
  display: inline-block;
  max-width: 78%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

/*******************
Navigation
*******************/

.Nav-div {
  background-color: #ddd;
  width: 100%;
}
.Nav-div li {
  display: inline-block;
  color: #3e7fbb;
  background-color: #f19484;
  padding: 10px;
  margin: 15px;
  border: 1px #ddd solid;
  box-shadow: 2px 2px #808b96;
}

/*******************
Main-body
*******************/

.columns-container-main {
  display: inline-block;
}

.column-container-left p {
  font-size: 1.5em;
}

.column-container-left {
  display: inline-block;
  max-width: 66.7%;
}

.column-narrow-right {
  display: inline-block;
  max-width: 33.3%;
}

.column-main-content {
  display: inline-block;
}

.columns-container-info-blocks {
  display: inline-block;

}

.info-photo {
  display: inline-block;
  max-width: 50%;
}

.info-text {
  display: inline-block;
  max-width: 50%;
}


/*******************
Event Boxes
*******************/

.event-preview-image {
  display: inline-block;
  max-width: 50%;
}

.event-preview {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
}

.event-preview p {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  line-height: 1.25em;
  vertical-align: top;

}

.columns-container-events {
  padding: 10px;
}

.grey {
  color: grey;
}

.column-narrow-right h6 {
  text-align: right;

}

/*******************
Static Box
*******************/

.fixed-box i{
    color: #8b0000;
    font-size: 24px;
}

.fixed-box {
    width: 25%;
    background-color: #3a539b;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 10px;
    padding: 10px;
}

.fixed-box form {
  padding: 10px;
}

.fixed-box input {
  width: 75%;
  height: 25px;
}

.fixed-box button {
  width: 10%;
  height: 25px;
}


/*******************
Footer
*******************/
.guillmet {
  color: #db4b38;
}

.footer li {
  display: inline-block;
  margin: 75px;
}
